<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('templates/head'); %>
</head>

<body >
<header>
    <%- include('templates/header'); %> 
</header>

<main>
    <div class="container-signup">
        <h2 class="signup-title">SIGN UP</h2>
        <form name="signupForm" action="/login" class="signup-form" onsubmit="return createAccount()">
          <div class=row-form>
            <div class="personal-info">
              <h3>Personal Information</h3>
              <label for="first-name">First name:</label>
              <div class="login-box">
                <input type="text" name="first-name" placeholder="Enter first name" required />
              </div>
              <label for="last-name">Last name:</label>
              <div class="login-box">
                <input type="text" name="last-name" placeholder="Enter last name" required />
              </div>
              <label for="birthdate">Birthdate:</label>
              <div class="login-box">
                <input type="date" name="birhtdate" required />
              </div>
            </div>
            <div class="signin-info">
              <h3>Sign-in Information</h3>
              <label for="email">Email</label>
              <div class="login-box">
                <input type="email" name="email" placeholder="Enter email" required />
              </div>
              <label for="password">Password</label>
              <div class="login-box">
                <input type="password" name="password" placeholder="Enter password" required />
              </div>
              <label for="confirm-password">Confirm Password</label>
              <div class="login-box">
                <input type="password" name="confirm-password" placeholder="Confirm password" required />
              </div>
            </div>
          </div>
          <div class="row-buttons">
            <input type="submit" class="login_btn" value="Create Account">
            <a href="/login">Cancel</a>
          </div>
        </form>
      </div>
      <script>
        function createAccount() {
          var firstName = document.forms['signupForm']['first-name'].value;
          var lastName = document.forms['signupForm']['last-name'].value;
          var email = document.forms['signupForm']['email'].value;
          var password = document.forms['signupForm']['password'].value;
          var confirmPassword = document.forms['signupForm']['confirm-password'].value;
    
          var data = localStorage.getItem(email);
    
          if (data != null) {
            window.alert('Email already registered.');
            return false;
          }
          else if (password != confirmPassword) {
            window.alert('Password entered does not match. Please re-enter.');
            return false;
          }
          else {
            var newUser = {
              firstName: firstName,
              lastName: lastName,
              email: email,
              password: password,
              
              
            }
    
            window.alert('Account successfully created.\nYou can now login your new account.');
            var json = JSON.stringify(newUser);
            localStorage.setItem(email, json);
            return true;
          }
        }
      </script>
</main>

<footer>
    <%- include('templates/footer'); %>
</footer>

</body>
</html>